.products {
  margin: 8px;
}
.product-root {
  flex-grow: 1;
  width: 100%;
  height: inherit;
}

/*------------------------- Tab bar ----------------------*/
.MuiTab-textColorPrimary.Mui-selected {
  font-weight: 500 !important;
  opacity: 1 !important;
}
.MuiTab-textColorPrimary {
  color: #fff !important;
}
.product-tab-container {
  width: 100%;
  flex-grow: 1;
  background-color: #fff;
}
.MuiTabScrollButton-root {
  display: none!important;
}
header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorDefault.MuiPaper-elevation4{
  height: inherit;
}
.custom-tab {
  margin: 5px!important;
  border-radius: 5px!important;
  height: 65px!important;
  border: 1px solid!important;
  width: 120px!important;
  font-size: 14px!important;
  padding: 6px 0!important;
  font-weight: 400!important;
}
.view-all-tab{
  background-color: #ccc!important;
}
.MuiAppBar-colorDefault {
  background-color: #fff!important;
}
.MuiPaper-elevation4 {
    box-shadow: none!important;
}

/*------------------------ tab bar close ----------------------*/

/*----------------------- product listing ---------------------*/



/*----------------------- product listing close ---------------*/

/*----------------------- product control ---------------------*/



/*----------------------- product control close ---------------*/