.ExpandWrapper {
    width: 94%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    position: relative;
    z-index: 2;
    height: 55px;
}
.ProductControl {
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}
.SelectBoxText {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    margin-top: 23px;
    margin-left: 18px;
}
.SelectBoxIcon {
    position: absolute;
    top: 0;
    left: 72%;
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    margin-top: 22px;
    margin-left: -42px;
    color: #757575;
}
.ViewMoreButton {
    border: none;
    padding: 13px 10px;
    font-size: 12px;
    -webkit-text-align: center;
    text-align: center;
    font-weight: 500;
    color: #757575;
    outline: none;
    background-color: #fff;
}
.control-left {
    font-size: 16px; 
    line-height: 24px;
    width: 72%; 
    height: 48px; 
    display: inline-block; 
    position: relative; 
    background-color: transparent; 
    font-family: inherit; 
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    cursor: auto; 
    border-right: 1px solid rgb(240, 240, 240);
}
.control-left-ss1{
    position: absolute; 
    opacity: 0; 
    color: rgba(0, 0, 0, 0.3); 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    bottom: 12px;
}
.control-left-ss2{
    display: block; 
    font: inherit; 
    height: 100%; 
    outline: none; 
    position: relative; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    padding: 0px; 
    width: 100%; 
    border: none; 
    background-color: rgba(0, 0, 0, 0); 
    color: rgba(0, 0, 0, 0.87); 
    cursor: inherit; 
    opacity: 1; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.control-left-ss3{
    cursor: pointer; 
    height: 100%; 
    position: relative; 
    width: 100%;
}
.control-left-ss4{
    box-sizing: border-box; 
    content: ""; 
    display: table;
}
.control-left-ss5{
    color: rgba(0, 0, 0, 0.87); 
    height: 56px; 
    line-height: 56px; 
    overflow: hidden; 
    opacity: 1; 
    position: relative; 
    padding-left: 85px; 
    padding-right: 45px; 
    text-overflow: ellipsis; 
    top: -4px; 
    white-space: nowrap; 
    z-index: 2; 
    font-weight: 500;
}
.control-left-ss6{
    border: 10px; 
    box-sizing: border-box; 
    display: none; 
    font-family: inherit; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    cursor: pointer; 
    text-decoration: none; 
    margin: 0px; 
    padding: 12px; 
    outline: none; 
    font-size: 0px; 
    font-weight: inherit; 
    position: absolute; 
    overflow: visible; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    width: 48px; 
    height: 48px; 
    fill: rgb(224, 224, 224); 
    right: 0px; 
    top: 0px; 
    background: none;
}
.control-left-ss7{
    border-top: none; 
    bottom: 1px; 
    left: 0px; 
    margin: -1px 24px; 
    right: 0px; 
    position: absolute;
}
.control-left-ss8{
    box-sizing: border-box; 
    content: ""; 
    clear: both; 
    display: table;
}
.control-left-ss9{
    border: none; 
    bottom: 8px; 
    box-sizing: content-box; 
    margin: 0px; 
    position: absolute; 
    width: 100%;
}
.control-left-ss10{
    border: none; 
    bottom: 8px; 
    box-sizing: content-box; 
    margin: 0px; 
    position: absolute; 
    width: 100%; 
    transform: scaleX(0); 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.paper {
    width: 80%;
    max-height: 435px;
}
.MuiMenu-paper {
    min-width: 243px!important;
}