.grow {
  flex-grow: 1;
}
header {
  position: static;
  height: 60px;
  width: 100%;
}
.navbar-header {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 12px 0px;
}
.menu-left {
  display: flex;
  align-items: center;
}
.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-icons-right {
  display: flex;
  align-items: center;
}