.home-page-title {
	color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: left;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.home-page-title-holder {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.main-wrapper {
    width: 100%;
}