.Weight {
    color: #757575;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-top: 10px;
    line-height: 1;
}
.imageContainer {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 30%;
    overflow: hidden;
    backface-visibility: hidden;
}
img.product-card-image {
    -webkit-animation: fade-in-lazy-load 1s;
    animation: fade-in-lazy-load 1s;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    backface-visibility: hidden;
    margin-left: -5px;
}
.infoContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    width: 70%;
}
.product-info {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 80%;
}
.RatingsContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 10%;
    height: 100%;
    position: absolute;
    right: 4px;
}
.ProductNameWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ProductName {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-text-align: left;
    text-align: left;
}
.PriceBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    backface-visibility: hidden;
}
.SpecialPrice {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-right: 10px;
    margin: 0;
}
.Price {
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    backface-visibility: hidden;
    margin: 0;
}
.common-btn {
	min-width: 140px !important;
    height: 40px !important;
    line-height: 1.3 !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-text-align: center !important;
    text-align: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.AddToCartButton.common-btn {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    height: 36px;
    line-height: 36px;
    min-width: 88px;
    color: rgba(255, 255, 255, 0.87);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 2px;
    user-select: none;
    overflow: hidden;
    background-color: rgb(79, 207, 100);
    text-align: center;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.OutOfStockButton.common-btn.Mui-disabled.Mui-disabled {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #b0b0b0;
    color: #fff;
    min-width: 145px;
    height: 40px;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
}
.rating-text {
    color: #757575;
    font-size: 13px;
    font-weight: 500;
    margin-right: 2px;
}
button.ProductCardSimple__RatingsIcon {
    padding: 0 !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
    margin-left: -21px !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #757575;
    
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 12px;
    outline: none;
    font-weight: inherit;
    position: relative;
    overflow: visible;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    width: 48px;
    height: 48px;
    background: none;
}
.product-wrapper {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 184px;
    border-bottom: solid 1px #f0f0f0;
    padding: 6px 0;
}